body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: normal;
}


.tittle {

    font-weight: bolder lighter;
}



p {
    font-size: medium;
}

header {
    height: 80vh;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    color: white;
    overflow: hidden;
    background-image: url(images/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.parent {



    display: flex;

    align-items: center;
    justify-content: center;
}

.child {


    background-color: white;
    width: 30px;
    height: 40px;
    margin: 20px;
}

#color {
    background-position: center;
    color: red;


}

.donate-option-top {

    text-align: center;

}



.button-1 {
    background-color: red;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.donate-option {
    margin: 5%;
    text-align: center;
    font-weight: 600px;
}

.package-description {

    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

.title2 {
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.box1 {
    background-color: grey;
    width: 270px;
    text-align: center;
    margin: 0 auto;
    border: none;
    padding: 25px;
    border-radius: 5px;
    margin-top: 20px;


}

.box2 {
    background-color: pink;
    width: 270px;
    text-align: center;
    margin: 0 auto;
    border: none;
    padding: 25px;
    border-radius: 5px;
    margin-top: 20px;
}

.box3 {

    background-color: skyblue;
    width: 270px;
    text-align: center;
    margin: 0 auto;
    border: none;
    padding: 25px;
    border-radius: 5px;
    margin-top: 20px;

}

.package-descript-text {
    text-align: justify;
    background-position-x: left;
}

.icon img {

    display: flex;
    width: 40px;
}

.flexible-content {
    display: flex;
    margin: 5%;
    padding: 2%;


}

.half-width {
    width: 50%;


}

.half-width img {
    width: 80%;
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.update {
    text-align: center;
}

.subscription {
    margin-left: 20%;
    background-position: center;
    background-color: bisque;
    border-radius: 5%;
    color: white;
    background-position: center;
    height: 90%;
    width: 50%;
    padding: 60px 70px;
    justify-content: center;
    display: flex;
    font-size: 16px;
}

.subscription-button {
    background-color: red;
    border-radius: 5%;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer {
    position: -ms-page;
    margin-bottom: 0%;
    padding-bottom: 4%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}